<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
    <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css'>
</head>
<body>
    <div id ='app'>
        <input type="text" v-model="firstname">+
        <input type="text" v-model="lastname">=
        <input type="text" v-model="fullname">
    </div>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                firstname:'',
                lastname:'',
                fullname:''
            },
            methods:{
            },
            watch:{//使用watch这个属性，可以监视data中指定数据的变化，然后触发这个watch中对应的func
                firstname:function(newVal,oldVal){
                    //console.log(newVal,oldVal);
                    this.fullname = newVal + '  ' + this.lastname;
                },
                lastname:function(newVal,oldVal){
                    //console.log(newVal,oldVal);
                    this.fullname = this.firstname + '  '+ newVal;
                }
            }
        })
    </script>
</body>
</html>